        <h1>{{ product.openfda.brand_name[0] }}</h1>
        <hr />
        <div ng-show="imageID">
            <img src="http://pillbox.nlm.nih.gov/assets/small/{{imageID}}.jpg" />
        </div>
        <p>indications_and_usage:<p>
        <p>{{ product.indications_and_usage[0] }}</p>
        <hr />
        <p>stop_use:<p>
        <p>{{ product.stop_use[0] }}</p>
        <hr />
        <p>keep_out_of_reach_of_children:<p>
        <p>{{ product.keep_out_of_reach_of_children[0] }}</p>
        <hr />
        <p>ask_doctor:<p>
        <p>{{ product.ask_doctor[0] }}</p>
        <hr />
        <p>questions:<p>
        <p>{{ product.questions[0] }}</p>
        <hr />
        <p>dosage_and_administration:<p>
        <p>{{ product.dosage_and_administration[0] }}</p>
        <hr />
        <p>purpose:<p>
        <p>{{ product.purpose[0] }}</p>
        <hr />
        <p>storage_and_handling:<p>
        <p>{{ product.storage_and_handling[0] }}</p>
        <hr />
        <p>do_not_use:<p>
        <p>{{ product.do_not_use[0] }}</p>
        <hr />
        <p>pregnancy_or_breast_feeding:<p>
        <p>{{ product.pregnancy_or_breast_feeding[0] }}</p>
        <hr />
        <p>active_ingredient:<p>
        <p>{{ product.active_ingredient[0] }}</p>
        <hr />
        <p>inactive_ingredient:<p>
        <p>{{ product.inactive_ingredient[0] }}</p>
        <hr />
        <p>manufacturer_name:<p>
        <p>{{ product.openfda.manufacturer_name[0] }}</p>
        <hr />
        <p>route:<p>
        <p>{{ product.openfda.route[0] }}</p>
        <hr />
        <p>warnings:<p>
        <p>{{ product.warnings[0] }}</p>
        <hr />
        <p>when_using:<p>
        <p>{{ product.when_using[0] }}</p>
        <hr />