    <div class='wrapper' layout-padding>
        <div ng-show="imageID" class='pill-image' hide-sm>
            <img src="http://pillbox.nlm.nih.gov/assets/small/{{imageID}}.jpg" />
        </div>
        <md-tabs md-border-bottom class='align-left drug-tabs'>
            <!-- Tab One -->
            <md-tab class='tabs md-active' label='Drug Details'>
                <div hide-sm show-gt-sm layout-padding flex layout='column'>
                    <p class="md-subhead">Label information for {{ product.openfda.brand_name[0] }}</p>
                    <div></div>
                    <md-content flex layout='row' layout-sm='column' class='row' layout-fill>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Indications and Usage</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.indications_and_usage == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.indications_and_usage != undefined">
                                    <p>{{ product.indications_and_usage[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Stop Use</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.stop_use == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.stop_use != undefined">
                                    <p>{{ product.stop_use[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                    </md-content>
                    <md-content flex layout='row' layout-sm='column' class='row'>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Keep Out of Reach of Children</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.keep_out_of_reach_of_children == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.keep_out_of_reach_of_children != undefined">
                                    <p>{{ product.keep_out_of_reach_of_children[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Ask Doctor</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.ask_doctor == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.ask_doctor != undefined">
                                    <p>{{ product.ask_doctor[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                    </md-content>
                    <md-content flex layout='row' layout-sm='column' class='row'>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Questions</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.questions == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.questions != undefined">
                                    <p>{{ product.questions[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Dosage and Administration</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.dosage_and_administration == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.dosage_and_administration != undefined">
                                    <p>{{ product.dosage_and_administration[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                    </md-content>
                    <md-content flex layout='row' layout-sm='column' class='row'>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Purpose</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.purpose == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.purpose != undefined">
                                    <p>{{ product.purpose[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Storage and Handling</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.storage_and_handling == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.storage_and_handling != undefined">
                                    <p>{{ product.storage_and_handling[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                    </md-content>
                    <md-content flex layout='row' layout-sm='column' class='row'>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Do Not Use</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.do_not_use == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.do_not_use != undefined">
                                    <p>{{ product.do_not_use[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Pregnancy or Breast Feeding</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.pregnancy_or_breast_feeding == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.pregnancy_or_breast_feeding != undefined">
                                    <p>{{ product.pregnancy_or_breast_feeding[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                    </md-content>
                    <md-content flex layout='row' layout-sm='column' class='row'>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Active Ingredient</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.active_ingredient == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.active_ingredient != undefined">
                                    <p>{{ product.active_ingredient[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Inactive Ingredient</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.inactive_ingredient == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.inactive_ingredient != undefined">
                                    <p>{{ product.inactive_ingredient[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                    </md-content>
                    <md-content flex layout='row' layout-sm='column' class='row'>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Manufacturer Name</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.openfda.manufacturer_name == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.openfda.manufacturer_name != undefined">
                                    <p>{{ product.openfda.manufacturer_name[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Route</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.openfda.route == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.openfda.route != undefined">
                                    <p>{{ product.openfda.route[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                    </md-content>
                    <md-content flex layout='row' layout-sm='column' class='row'>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>Warnings</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.warnings == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.warnings != undefined">
                                    <p>{{ product.warnings[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                        <md-content flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                            <h3>When Using</h3>
                            <md-card layout-fill flex>
                                <div ng-if="product.when_using == undefined">
                                    <p>No Data Found</p>
                                </div>
                                <div ng-if="product.when_using != undefined">
                                    <p>{{ product.when_using[0] }}</p>
                                </div>
                            </md-card>
                        </md-content>
                    </div>

                <!-- Mobile -->
                <div show-sm hide-gt-sm layout-padding flex layout='column'>
                    <md-select placeholder="Select a Label Info" ng-model="oLabelInfo" ng-change="showLabelInfo(oLabelInfo)">
                        <md-option value='{"key":"indications_and_usage","val":"Indications and Usage"}'>Indications and Usage</md-option>
                        <md-option value='{"key":"stop_use","val":"Stop Use"}'>Stop Use</md-option>
                        <md-option value='{"key":"keep_out_of_reach_of_children","val":"Keep Out of Reach of Children"}'>Keep Out of Reach of Children</md-option>
                        <md-option value='{"key":"ask_doctor","val":"Ask Doctor"}'>Ask Doctor</md-option>
                        <md-option value='{"key":"questions","val":"Questions"}'>Questions</md-option>
                        <md-option value='{"key":"dosage_and_administration","val":"Dosage and Administration"}'>Dosage and Administration</md-option>
                        <md-option value='{"key":"purpose","val":"Purpose"}'>Purpose</md-option>
                        <md-option value='{"key":"storage_and_handling","val":"Storage and Handling"}'>Storage and Handling</md-option>
                        <md-option value='{"key":"do_not_use","val":"Do Not Use"}'>Do Not Use</md-option>
                        <md-option value='{"key":"pregnancy_or_breast_feeding","val":"Pregnancy or Breast Feeding"}'>Pregnancy or Breast Feeding</md-option>
                        <md-option value='{"key":"active_ingredient","val":"Active Ingredient"}'>Active Ingredient</md-option>
                        <md-option value='{"key":"inactive_ingredient","val":"Inactive Ingredient"}'>Inactive Ingredient</md-option>
                        <md-option value='{"key":"manufacturer_name","val":"Manufacturer Name"}'>Manufacturer Name</md-option>
                        <md-option value='{"key":"route","val":"Route"}'>Route</md-option>
                        <md-option value='{"key":"warnings","val":"Warnings"}'>Warnings</md-option>
                        <md-option value='{"key":"when_using","val":"When Using"}'>When Using</md-option>
                    </md-select>

                    <md-content ng-show="selectedLabelInfo" flex='50' flex-sm='100' layout-padding layout-fill flex layout='column'>
                        <h3>{{ selectedLabelInfo.title }}</h3>
                        <md-card layout-fill flex>
                            <p>{{ selectedLabelInfo.text }}</p>
                        </md-card>
                    </md-content>
                </div>
            </md-tab>
            <!-- Tab Two -->
            <md-tab class='tabs' label='Adverse Events'>
                <p class="md-subhead">The FDA has registered the following adverse Events for {{ product.openfda.brand_name[0] }}</p>
                <div>
                    <nvd3 options='adverseDrugEventsChartOptions' data='data'></nvd3>
                </div>
            </md-tab>
            <!-- Tab Three -->
            <md-tab class='tabs' label='Recalls'>
                <p class="md-subhead">The FDA has registered the following recalls for {{ product.openfda.brand_name[0] }}</p>
                <div>
                    <nvd3 options='drugRecallChartOptions' data='drugRecallsData'></nvd3>
                </div>
            </md-tab>
        </md-tabs>
    </div>
