<div flex layout='row' layout-sm='column' class='wrapper' layout-fill layout-padding>
  <md-card flex id='left-column' layout-padding>
    <div id='results-info' flex layout='row'>
      <h3><b>270</b> Results</h3>

      <div id='dropdown-wrapper'>
        <label>Sort By:</label>
        <md-select placeholder='Set Asides' ng-model='someValue' flex>
          <md-option value='1'>One</md-option>
          <md-option value='2'>Two</md-option>
          <md-option value='3'>Three</md-option>
          <md-option value='4'>Four</md-option>
        </md-select>
      </div>
    </div>
    <div id='results'>
      <div class='result' layout-padding>
        <div class='results-header'>
          <h4>PLUMBING COMPONENTS</h4>
          <i>Department of the Interior</i>

          <div class='date-wrapper'>
            <label>Due</label>

            <div class='date'>
              <p>APR 13TH, 2015</p>
            </div>
          </div>
          <p>The Department of Mathematics and Statistics at Minnesota State University, Mankato currently has
            one (1) fixed-term vacancy, for the 2015-2016 academic year. The standard teaching load is
            twelve (12) credit hours per semester.</p>
          <md-button>READ MORE</md-button>
        </div>
      </div>
      <md-divider></md-divider>
      <div class='result' layout-padding>
        <div class='results-header'>
          <h4>PLUMBING COMPONENTS</h4>
          <i>Department of the Interior</i>

          <div class='date-wrapper'>
            <label>Due</label>

            <div class='date'>
              <p>APR 13TH, 2015</p>
            </div>
          </div>
          <p>The Department of Mathematics and Statistics at Minnesota State University, Mankato currently has
            one (1) fixed-term vacancy, for the 2015-2016 academic year. The standard teaching load is
            twelve (12) credit hours per semester.</p>
          <md-button>READ MORE</md-button>
        </div>
      </div>
      <md-divider></md-divider>
    </div>
  </md-card>
  <div ng-controller='AppCtrl'>
    <md-button ng-click='toggleRight()' hide-gt-md>
      Open
    </md-button>
    <md-card>
      <md-sidenav layout-padding layout-fill class='md-sidenav-right md-whiteframe-z2' md-component-id='right'
                  md-is-locked-open='$mdMedia("gt-md")' flex id='sidebar'>Sidebar
        <md-content ng-controller='RightCtrl'>
          <md-button ng-click='close()' class='md-primary' hide-gt-md>
            Close
          </md-button>
          <div id='accordion'>
            <h3>SET ASIDES</h3>

            <div>
              <md-checkbox class='md-primary'>test</md-checkbox>
              <md-checkbox class='md-primary'>test 2</md-checkbox>
              <md-checkbox class='md-primary'>test 3</md-checkbox>
              <md-checkbox class='md-primary'>test 4</md-checkbox>
            </div>
            <h3>PERIOD OF PERFORMANCE</h3>

            <div>
              <md-slider>Content goes here</md-slider>
            </div>
          </div>
        </md-content>
      </md-sidenav>
    </md-card>
  </div>
</div>
