<div flex layout='row' layout-sm='column' class='wrapper' layout-fill>
    <md-content flex id='left-column' layout='column'>
        <div id='results'>
            <h1>{{ factorySymptom }}</h1>
            <md-content class='result' ng-repeat="result in drugResults">
                <div class='results-header'>
                    <h2><a href="/#/events?drug={{result.drug}}&count={{result.eventCount}}" ng-click="clickDrug(result)">{{result.drug}}</a></h2><span>- Top 5 Brands</span>
                </div>
                <div class='results-body'>
                    <md-button ng-repeat="brand in result.popularBrands | limitTo:5" class='md-whiteframe-z1'>{{brand}}</md-button>
                </div>
                <div class='adverse-number'>
                    <h3>{{result.eventCount}}</h3>
                    <span>Adverse<br>Reactions</span>
                </div>
            </md-content>
            <md-content class='result' ng-show="!drugResults.length">
                <div class='results-body'>
                    No result found.
                </div>
            </md-content>
        </div>
    </md-content>
</div>
