<div flex layout='row' layout-sm='column' class='wrapper' layout-fill>
    <div class='filters' layout='row'>
        <h2>Symptum</h2>
        <div class='rating-success'>
        	<div></div>
        	<div></div>
        	<div></div>
        	<div></div>
        </div>
        <md-button class='male md-whiteframe-z1' aria-label='male'>
            <i class='fa fa-male fa-3x'></i>
        </md-button>
        <md-button class='female md-whiteframe-z1' aria-label='female'>
            <i class='fa fa-female fa-3x'></i>
        </md-button>
        <div class='slider-wrapper'>
	        <md-slider flex ng-model="rating1" step="1" min="1" max="5" aria-label="rating">
	      	</md-slider>
	      	<div>
	      		<label>All Ages</label>
	      		<label>0-17</label>
	      		<label>18-35</label>
	      		<label>36-55</label> 
	      		<label>56+</label> 
	      	</div>	
      	</div>
    </div>
    <div class='percentOfAdverse'>
    </div>
</div>
<ul>
    <li ng-repeat="int in interactions">
        {{int.drug}} - {{int.interaction}}
    </li>
</ul>
