<div class='wrapper home'>
  <div flex layout="row" layout-fill>
      <md-content id="content">          
        <p>You may enter keywords like, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat arcu vel nisl congue, vitae eleifend risus viverra. Nullam ornare tortor imperdiet risus pellentesque:</p>
        <p class='tags'>
          plumber   •  facilisis   •   donec dapibus <br> consequat  •  fringilla   •   aenean 
        </p>
        <!-- <md-button class="share" md-no-ink ng-click="ul.share($event)" aria-label="Share">
          <md-icon md-svg-icon="share"></md-icon>
        </md-button> -->
      </md-content>

  </div>
</div>