<div class='home'>
    <div class='wrapper home'>
        <!-- <md-card class='search' layout='row' flex>
          <input type='search' placeholder="Search ..." ng-model="formSymptom" flex='71' layout-fill></input>
          <md-button class='md-raised' ng-click="onHomeSearchClick()" layout-fill>SEARCH</md-button>
        </md-card> -->
        <div flex layout="row" layout-fill>
            <md-content id="content">
                <p>Discover <b>Effective Drugs</b> <br>for you and your family</p>
                <!-- <md-button class="share" md-no-ink ng-click="ul.share($event)" aria-label="Share">
                  <md-icon md-svg-icon="share"></md-icon>
                </md-button> -->
                <md-button>
                    Browse Drugs
                </md-button>
            </md-content>
        </div>
    </div>
</div>