<div class=''>
    <div class='wrapper'>
        <!-- <md-card class='search' layout='row' flex>
          <input type='search' placeholder="Search ..." ng-model="formSymptom" flex='71' layout-fill></input>
          <md-button class='md-raised' ng-click="onHomeSearchClick()" layout-fill>SEARCH</md-button>
        </md-card> -->
        <div flex layout="row" layout-fill>
            <md-content id="content">
                <!-- <md-button class="share" md-no-ink ng-click="ul.share($event)" aria-label="Share">
                  <md-icon md-svg-icon="share"></md-icon>
                </md-button> -->
                <!--md-button>
                    Browse Drugs
                </md-button-->
                <div ng-controller="autoCompleteCtrl as ctrl">
                    <div layout="column" class='' flex='64'>
                        <md-content class='search-content'>
                        <div class='step'>1</div>
                        <h4>I am Suffereing From:</h4>
                            <form ng-submit="loadDrugsBySymptom($event)" class='search-form'>
                              <md-content class='search-wrapper'>
                                <md-autocomplete
                                    ng-disabled="ctrl.isDisabled"
                                    md-no-cache="ctrl.noCache"
                                    md-selected-item="ctrl.selectedItem"
                                    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                    md-search-text="ctrl.searchText"
                                    md-selected-item-change="ctrl.selectedItemChange(item)"
                                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                                    md-item-text="item.display"
                                    md-min-length="2"
                                    placeholder="Search..."
                                    class='search'>
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No matches found for "{{ctrl.searchText}}".
                                    </md-not-found>
                                </md-autocomplete>
                                <md-button class='search-submit'>Search</md-button>
                              </md-content>
                            </form>
                        </md-content>

                        <md-content ng-show="drugResults">
                            <md-list>
                                <md-subheader class="md-no-sticky">List of drugs</md-subheader>
                                <md-list-item class="md-2-line" ng-repeat="drug in drugResults" ng-click="setSelectedDrug(drug)">
                                    <!--<img ng-src="{{todos[0].face}}?20" class="md-avatar" alt="{{todos[0].who}}" />-->
                                    <div class="md-list-item-text">
                                        <h3>{{ drug.drug }}</h3>
                                        <p>Some info</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>
                        <md-content>
                           <p>Discover <b>Effective Drugs</b> <br>for you and your family</p>
                        </md-content>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</div>
