<div flex layout='column' layout-sm='column' class='wrapper' layout-fill>
    <div class='filters' layout='row' layout-sm='column'>
        <div>
            <h3>About MANNA</h3>
            Manna means an unexpected or gratuitous benefit.
            <h3>About REI Systems</h3>
            REI Systems is a leading provider of web-enabled business solutions for the Federal Government and the
            commercial sector. Drawing upon our mission to deliver reliable, effective, and innovative solutions,
            the company works daily to solve complex homeland security, defense, health resources, criminal justice,
            and performance support issues. REI Systems is strengthened by its commitment to exceeding customer
            expectations. REI Systems has been serving government at all levels and major corporations since 1989.

            For more information, visit <a href="www.reisystems.com">www.reisystems.com</a>
        </div>
    </div>
</div>