<div flex layout='column' layout-sm='column' class='wrapper' layout-fill>
    <div class='filters' layout='row' layout-sm='column'>
        <div>
            <h3>About VelociRX</h3>
            <p>VelociRCX is designed to help consumers learn more about the the side effects and potentially harmful interactions
            that can occur when taking prescription and over the counter medications. The United Stated Food and Drug Administration tracks
            adverse reactions and recalls that are reported for drugs, both at the generic and brand specific level. This data is available
            to the public, and VelociRX helps users examine that data in an easy-to-use way.</p>
            <h3>Food and Drug Administration</h3>
            <p>VelociRX leverages the openFDA project, which makes the FDA's database of adverse drug reactions and drug recalls open
            and available to the public. When a VelociRX user performs a search, that search is done directly against the FDA's latest registry,
            so the data is always up to date.</p>
            <p>For more information about the FDA's publicly available data, visit <a href="https://open.fda.gov/">open.fda.gov</a></p>
            <h3>National Institute of Health</h3>
            <p>VelociRX leverages National Library of Medicine's drug interactions API to retrieve known drug interactions between two types of drugs.
            This data is made available to the public via the RXNav API.</p>
            <p>To learn more about NIH's RXNav service, visit <a href="http://rxnav.nlm.nih.gov/APIsOverview.html">rxnav.nlm.nih.gov/APIsOverview.html</a></p>


        </div>
    </div>
</div>
