<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tesla AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css(.) assets/styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) assets/styles/styles.css -->
    <!-- include: "type": "css", "files": "assets/styles/*.css" -->
    <!-- endbuild -->
</head>
<body ng-app="teslaApp">

<md-toolbar layout="row" ng-cloak>
    <div class='header-wrapper' layout='row' flex>
        <!-- <md-button class="menu" hide-gt-sm aria-label="Show User List">
            <md-icon md-svg-icon="menu" ></md-icon>
        </md-button> -->
        <a href='/#/'><h1 id='logo'>Manna<img src='assets/svg/logo.svg'><span id='sub-logo'>powered by <b>FDA
            Open</b></span></h1></a>

        <div ng-controller="autoCompleteCtrl as ctrl" layout="column">
            <md-content class='search-content'>
                <form ng-submit="submitSearch($event)">
                    <md-autocomplete
                        ng-disabled="ctrl.isDisabled"
                        md-no-cache="ctrl.noCache"
                        md-selected-item="ctrl.selectedItem"
                        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                        md-search-text="ctrl.searchText"
                        md-selected-item-change="ctrl.selectedItemChange(item)"
                        md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="item.display"
                        md-min-length="2"
                        placeholder="Search..."
                        class='search'>
                        <md-item-template>
                            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No matches found for "{{ctrl.searchText}}".
                        </md-not-found>
                    </md-autocomplete>
                </form>
            </md-content>
        </div>

        <div ng-controller="MenuCtrl" id='header-nav' layout-margin>
            <i class='fa fa-bars fa-2x md-primary' ng-click="toggleRight()"></i>
            <md-sidenav>
                Main menu sidenav
            </md-sidenav>
            <!-- <md-button flex href='#/search'>Browse by Category</md-button>
            <md-button flex href='#/events'>Browse by <span class='bold'>NAICS</span></md-button>
            <md-button flex href='#/'>Explore by <span class='bold'>RESOURCES</span></md-button> -->

        </div>
    </div>
</md-toolbar>
<div ng-controller="MenuCtrl" layout="column">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2 md-closed" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Manna</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" layout-padding align="left">
                <ul class="nav sidebar-nav">

                    <li class="dropdown">
                        <md-button flex href='#/'><span class='bold'>HOME</span></md-button>
                    </li>
                    <li class="dropdown">
                        <md-button flex href='#/events'><span class='bold'>ABOUT</span></md-button>
                    </li>
                    <li class="dropdown">
                        <md-button ng-click="close()" class="md-primary">
                            Close Sidenav Right
                        </md-button>
                    </li>
                </ul>
            </md-content>
        </md-sidenav>
    </section>
</div>
<!--   <md-card class='search' layout='row'>
        <input type='search' placeholder="Search ..."></input>
        <md-button class='md-raised'>SEARCH</md-button>
    </md-card> --!>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view class='content'></div>
<div class='footer'>
    <div class='wrapper' layout='row'>
        <a href='#'>Git</a>
        <a href='#'>Twitter</a>
        <a href='#'>Mail</a>
        <a href='https://www.goodrx.com/'><img alt='GoodRx Logo' src='assets/images/powered-by-goodrx-white-xs.png'></a>
    </div>
</div>

<!-- build:js(.) assets/scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/n3-line-chart/build/line-chart.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/waypoints/waypoints.js"></script>
<script src="bower_components/SHA-1/sha1.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angulartics/src/angulartics-adobe.js"></script>
<script src="bower_components/angulartics/src/angulartics-chartbeat.js"></script>
<script src="bower_components/angulartics/src/angulartics-cnzz.js"></script>
<script src="bower_components/angulartics/src/angulartics-flurry.js"></script>
<script src="bower_components/angulartics/src/angulartics-ga-cordova.js"></script>
<script src="bower_components/angulartics/src/angulartics-ga.js"></script>
<script src="bower_components/angulartics/src/angulartics-gtm.js"></script>
<script src="bower_components/angulartics/src/angulartics-kissmetrics.js"></script>
<script src="bower_components/angulartics/src/angulartics-mixpanel.js"></script>
<script src="bower_components/angulartics/src/angulartics-piwik.js"></script>
<script src="bower_components/angulartics/src/angulartics-scroll.js"></script>
<script src="bower_components/angulartics/src/angulartics-segmentio.js"></script>
<script src="bower_components/angulartics/src/angulartics-splunk.js"></script>
<script src="bower_components/angulartics/src/angulartics-woopra.js"></script>
<script src="bower_components/angulartics/src/angulartics-marketo.js"></script>
<script src="bower_components/angulartics/src/angulartics-intercom.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) assets/scripts/application.js -->
<!-- include: "type": "js", "files": "*.js" -->
<!-- include: "type": "js", "files": ["**/*.js", "!app.js", "!route.js"] -->
<!-- endbuild -->

</body>
</html>
