<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="teslaApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="teslaApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="teslaApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="teslaApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tesla AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,dist,app}) /styles/main.css -->
        <!-- Inc important assets/CSS -->
        <!-- include: "type": "css", "files": "**/*.css" -->

        <!-- important for uglify/compressed CSS when we build dist (ONLY PROD) -->
        <!-- include: "type": "css", "files": "styles/*.js" -->
    <!-- endbuild -->
</head>
<body ng-app="frontendApp" layout="column">

    <md-toolbar layout="row">
        <md-button class="menu" hide-gt-sm aria-label="Show User List">
            <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h1 id='logo'>DRUGS<span>wiki</span><span id='sub-logo'>powered by FDA Open</span></h1>
        <md-card class='search' layout='row'>
            <span><i class='fa fa-search fa-lg'></i></span>
            <input type='search' placeholder="Search ..." ng-model="formSymptom">
                <md-chips>
                    <md-chip-template>
                        {{$chips}}
                        test
                    </md-chip-template>
                </md-chips>
            </input>
            <md-button>
                <i class='fa fa-times fa-2x'></i>
            </md-button>
            <!-- <md-button class='md-raised' ng-click="onSearchClick()">SEARCH</md-button> -->
        </md-card>
        <div id='header-nav' layout-margin>
            <i class='fa fa-bars fa-2x'></i>
            <md-sidenav class=''>
                Main menu sidenav
            </md-sidenav>
            <!-- <md-button flex href='#/search'>Browse by Category</md-button>
            <md-button flex href='#/events'>Browse by <span class='bold'>NAICS</span></md-button>
            <md-button flex href='#/'>Explore by <span class='bold'>RESOURCES</span></md-button> -->

        </div>
    </md-toolbar>
 <!--   <md-card class='search' layout='row'>
        <input type='search' placeholder="Search ..."></input>
        <md-button class='md-raised'>SEARCH</md-button>
    </md-card> --!>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view class='wrapper'></div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/n3-line-chart/build/line-chart.min.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js({.tmp,dist,app}) /scripts/application.js -->
<!-- entry point -->
<script src="bower_components/underscore/underscore.js"></script>
<!--include everything in scripts/ except files directly inside scripts (without subdirectory) -->

<!-- Inc important JS (app/route) -->
<!-- include: "type": "js", "files": "*.js" -->

<!-- Inc modules JS -->
<!-- include: "type": "js", "files": ["**/*.js", "!app.js", "!route.js"] -->

<!-- important for uglify/compressed JS when we build dist (ONLY PROD) -->
<!-- include: "type": "js", "files": ["scripts/**/*.js", "!scripts/**/scripts.*.js"] -->

<!-- endbuild -->

</body>
</html>
