<md-content>

  <section layout="column" layout-gt-md="row" layout-padding>

    <!--Left column -->
    <div flex="100" flex-gt-md="55" offset-gt-sm="10">
      <section layout="column">
        <!-- Page title -->
        <h2 class="md-display-1">Displaying Results for <strong>{{drugSelected}}</strong></h2>

        <md-divider></md-divider>

        <div layout="column" layout-gt-sm="row" layout-padding layout-margin>
          <!-- Male and female buttons -->
          <div layout="row" layout-align="center center">
            <md-button class='md-fab md-primary' aria-label='male' ng-class="{active: genderSelected == '1'}" ng-click="genderButtonClick(1)">
                <md-icon md-svg-src="assets/svg/male.svg"></md-icon>
            </md-button>
            <md-button class='md-fab md-primary' aria-label='female' ng-class="{active: genderSelected == '2'}" ng-click="genderButtonClick(2)">
                <md-icon md-svg-src="assets/svg/female.svg"></md-icon>
            </md-button>
          </div>
          <div flex>
            <!-- Age slider -->
            <md-slider class="md-primary" ng-model="ageGroup" step="1" min="1" max="5" aria-label="rating" ng-change="runEventSearch()"></md-slider>
            <div layout='row'>
                <label flex='20' layout="column" layout-align="start start">
                  <span><strong>All Ages</strong></span>
                </label>
                <label flex='20' layout="column" layout-align="center start">
                  <span>0-17</span>
                </label>
                <label flex='20' layout="column" layout-align="center center">
                  <span>18-35</span>
                </label>
                <label flex='20' layout="column" layout-align="center end">
                  <span>36-55</span>
                </label>
                <label flex='20' layout="column" layout-align="center end">
                  <span>56+</span>
                </label>
            </div>
          </div>
        </div>
      </section>

      <!-- Charts -->
      <section layout="column">
        <h3 class="md-headline">Of the {{drugEventCount}} adverse events registered for {{drugSelected}}, these side effects occured</h3>
        <nvd3 options='adverseEventsChartOptions' data='data'></nvd3>
        <nvd3 options='recallChartOptions' data='drugRecallsData'></nvd3>
      </section>

      <md-divider></md-divider>

      <!-- Drug interactions cards -->
      <section layout="column">
        <h3 class="md-headline">Drug Interactions</h3>

        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <div flex="100" flex-gt-sm="50" ng-repeat="interaction in drugInteractions | limitTo:4">
            <md-card>
              <md-card-content>
                <h4 class="md-title">{{interaction.drug}}</h4>
                <p>{{ interaction.interaction | limitTo: 100 }}{{interaction.interaction.length > 100 ? '...' : ''}}</p>
              </md-card-content>
              <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="md-primary">Read more</md-button>
              </div>
            </md-card>
          </div>
        </div>

        <div ng-show="!drugInteractions.length">
          No drug interaction found for {{ drugSelected }}.
        </div>

        <div layout="row" layout-align="end end">
          <md-button ng-show="drugInteractions.length" class="md-primary" ng-click="gotoInteraction()">See all</md-button>
        </div>

      </section>
    </div>

    <!--Right column -->
    <div flex="100" flex-gt-md="25">
      <!-- Drug brands -->
      <section>
        <md-subheader class="md-no-sticky" style="background-color:#e9eaea;">Drugs containing this ingredient</md-subheader>
        <md-list>
          <md-list-item ng-click="gotoProduct(product)" ng-repeat="product in products | limitTo:10">
            <p>{{ product.openfda.brand_name[0] }}</p>
            <md-icon class="md-accent" md-svg-src="assets/svg/play.svg"></md-icon>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </section>
    </div>

  </section>

</md-content>
