<md-content flex layout='row' layout-sm='column' class='wrapper' layout-fill layout-padding layout-margin>
    <div id='central-col' class='filters' layout="column" flex="75" layout-fill layout-padding layout-margin>
        <h1 flex>{{drugSelected}}</h1>
        <div class='filters-wrapper' flex layout="row" layout-margin layout-sm="column" layout-fill layout-padding layout-margin>
            <div class='filters-button-wrapper' layout-padding layout-margin>
                <md-button class='male md-whiteframe-z1' aria-label='male' ng-class="{active: genderSelected == '1'}" ng-click="genderButtonClick(1)">
                    <i class='fa fa-male fa-3x'></i>
                </md-button>
                <md-button class='female md-whiteframe-z1' aria-label='female' ng-class="{active: genderSelected == '2'}" ng-click="genderButtonClick(2)">
                    <i class='fa fa-female fa-3x'></i>
                </md-button>
            </div>
            <div class='slider-wrapper'>
                <md-slider ng-model="ageGroup" step="1" min="1" max="5" aria-label="rating" ng-change="runEventSearch()">
                </md-slider>
                <div layout='row'>
                    <label flex='20'>All Ages</label>
                    <label flex='20'>0-17</label>
                    <label flex='20'>18-35</label>
                    <label flex='20'>36-55</label>
                    <label flex='20'>56+</label>
                </div>
            </div>
        </div>
        <div class='percent-of-adverse filter-results'>
            <h3>Of the {{drugEventCount}} adverse events registered for {{drugSelected}}, these side effects occured</h3>
            <!-- <p>*345 Subjects Were Involved in the Trials</p> -->

            <div>
                <nvd3 options='options' data='data'></nvd3>
            </div>
        </div>

        <div class='drug-recalls filter-results'>

            <h3>Recalls Over Time*: {{drugRecallsMeta.results.total}}</h3>

        </div>
        <div class='drug-interactions filter-results' layout="column" flex>

            <h3>Top 10 Drug Interactions</h3>

                <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">

                    <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1" ng-repeat="interaction in drugInteractions | limitTo:6">
                        <md-grid-tile-header>
                            <h3>{{interaction.drug}}</h3>
                        </md-grid-tile-header>
                        {{ interaction.interaction | limitTo: 100 }}{{interaction.interaction.length > 400 ? '...' : ''}}
                    </md-grid-tile>

                </md-grid-list>

        </div>
    </div>
    <div id="right-col" loayout='column' flex="25">
        <md-list>
            <p class="md-no-sticky">To learn more about specific {{drugSelected}} products, choose from the following brands:</p>
            <md-divider></md-divider>
            <md-list-item ng-click="gotoProduct(product)" ng-repeat="product in products | limitTo:10">
                <p>{{ product.openfda.brand_name[0] }}</p>
                <md-divider></md-divider>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </div>
</md-content>

