<md-content>

  <section layout="column" layout-gt-sm="row" layout-padding>

   <div flex-gt-sm="80" offset-gt-sm="10">
     <!-- Page title -->
     <h2 class="md-display-1">
       Drug Interactions: <strong style="font-family:open_sansbold; text-transform: capitalize">{{ drugSelected }}</strong>
     </h2>

     <!-- Filter input -->
     <md-input-container>
        <md-icon md-svg-src="assets/svg/play.svg" class="md-accent"></md-icon>
        <input ng-model="keyword" placeholder="Filter">
     </md-input-container>


     <!-- Interaction Cards -->
     <div layout="row" layout-sm="column" layout-align="start start" layout-wrap>
       <div flex="100" flex-gt-sm="100" flex-gt-md="50" flex-gt-lg="33" ng-repeat="interaction in drugInteractions | filter:keyword">
         <md-card>
           <md-card-content>
             <h4 class="md-title">{{interaction.drug}}</h4>
             <p>{{ interaction.interaction }}</p>
           </md-card-content>
         </md-card>
       </div>
     </div>

     <!-- Not found message -->
     <div ng-show="!drugInteractions.length">
       No drug interaction found for  <span style="text-transform: capitalize">{{ drugSelected}}</span>.
     </div>

   </div>


  </section>

</md-content>
